@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.coitainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#Logo-img {
    background: red;
    background: red;
    height: 50px;
    border-radius: 50%;
}

image {
    height: 20%;
    width: 20%;
}

li {
    display: inline-block;
    list-style: none;
    margin: 3px;
}

.navatag {
    margin: 9px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 2px;
    text-decoration: none;
    transition: 1s ease;
    color: black;
}

.navatag:hover {
    background: black;
    color: white;
}

.itemscon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #eee;
}

.loginpage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #eee;
}

h1 {
    font-size: 20px;
    margin: 10px;
}

#btn {
    margin-top: 30px;
}

.logininfo {
    margin: 10px;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-height: 300px;
    padding: 30px;
}

.item {
    margin: 10px;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.productimg {
    margin: 5px;
    border: 1px solid black;
    border-radius: 2px;
    width: 200px;
}

i {
    color: black;
    margin: 10px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3px;
    border-radius: 50%;
}

button {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 50%;
    padding: 5px;
    border-radius: 2px;
    margin: 10px;
    border: 1px solid black;
    background: #FDEB71;
    transition: 800ms ease;
}

button:hover {
    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}

input[type='text'] {
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
    outline: none;
    background: #eee;
}

input[type='password'] {
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
    outline: none;
    background: #eee;
}

input[type='number'] {
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
    outline: none;
    background: #eee;
    margin-top: 10px;
    text-align: center;
}

#Cheak {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
    margin: 10px;
    border: 1px solid black;
    transition: 800ms ease;
    background: greenyellow;
}

@media only screen and (max-width: 450px) {
    .coitainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
    }
    .navatag {
        margin: 0px;
    }
    #Logo-img {
        height: 30px;
        border-radius: 50%;
    }
    .item {
        margin: 10px;
        width: 90%;
        background: #fff;
        box-sizing: border-box;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .productimg {
        margin: 5px;
        border: 1px solid black;
        border-radius: 2px;
        width: 200px;
    }
}